@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  position: relative;
  z-index: 0;
  background: url("./assets/bg.png") no-repeat center / cover;
}
.hero::after{
  z-index: -1;
  background: linear-gradient(90deg, #2563EB, transparent, red);
  width: 100%;
  height: 100%;
  opacity: 0.4;
  top: 0;
  left: 0;
  content: '';
  position: absolute;
}